RewriteEngine on


#Seo url oluşturma
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php 
RewriteRule ^urun-detay-([0-9a-zA-Z-_]+)-([0-9]+)$  urun-detay.php?sef=$1&id=$2 [L,QSA]